/* Footer Styles */
.main-footer {
    background-color: #ffffff;
    padding: 3rem 0;
    border-top: 1px solid #55555552;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.footer-column {
    padding: 0 1rem;
}

.footer-logo img,
.certification-image img {
    max-width: 150px;
    height: auto;
    margin-bottom: 1rem;
}

.footer-description {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #555;
    margin-top: 1rem;
    text-align: center;
}

.footer-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.5rem;
    position: relative;
    padding-bottom: 0.5rem;
}

.footer-title:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 2px;
    background-color: #6C70DC;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 0.8rem;
}

.footer-links a {
    text-decoration: none;
    color: #777;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #6C70DC;
}

.social-links {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 50%;
    color: #555;
    transition: all 0.3s;
    text-decoration: none;
}

.social-links a:hover {
    background-color: #6C70DC;
    color: #fff;
    transform: translateY(-3px);
}

.contact-info {
    margin-top: 1.5rem;
    text-align: left
}

.contact-info p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.certification-text {
    font-size: 0.9rem;
    color: #555;
    margin: 0.5rem 0;
}

.copyright {
    font-size: 0.8rem;
    color: #777;
    margin-top: 1rem;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .footer-grid {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 3rem;
    }
}

@media (max-width: 768px) {
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .footer-grid {
        grid-template-columns: 1fr;
    }
    
    .footer-column {
        padding: 0;
    }
    .social-links {
        justify-content: center;
    }
    .mob{
        text-align: center;
    }
}
